<div class="cont">
  <nav class="navbar">
    <h2 class="fs-2 title">#ODC-Tailleur</h2>
    <ul class="d-flex justify-content-between w-50 style">
      <li>
        <a href="#" id="categorie" class="navbar fs-4 no-underline"
          >Categoties</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/article"
          id="article-conf"
          class="navbar fs-4 no-underline"
          >Articles de confection</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="/article-vente"
          id="article-vente"
          class="navbar fs-4 no-underline"
          >Articles de vente</a
        >
      </li>
    </ul>
  </nav>
</div>
